/*Set Global properties&*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', serif;
    max-width: 800px;
    margin: 10% auto;
    border: solid;
    border-color: #64BB6A;
}