@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Lato:wght@300&family=Neuton&family=Oswald&family=Roboto:wght@300;400&display=swap');


/*Set global properties*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body properties, with max-width to limit the size of the game */
body {
    font-family: 'Roboto', serif;
    max-width: 800px;
    margin: 10% auto;
    border: solid;
    border-color: #64BB6A;
}
.heading, .score-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
    margin-bottom: 30px;
}
/*Set properties for the images */

#globe {
    height: 100px;
    width: auto;
    margin-right:-15px;
}
.beer {
    height: 40px;
    width: auto;
    padding: 5%;
}


/* Headings */
h1 {
    text-align: center;
    color: #28722d;
    font-size: 2em;
    padding: 0 10px;
}
h2 {
    font-size: 1.1em;
    color: #ffffff;
    letter-spacing: 1px;
}

/* Score area and free-play icons */
.score-area {
    column-gap: 5%;
    background:#2E7CB5;
}
#pints-div,
.level-box,
.score-box {
    display: flex;
}

