@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Lato:wght@300&family=Neuton&family=Oswald&family=Roboto:wght@300;400&display=swap');

/*Set Global properties&*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', serif;
    max-width: 800px;
    margin: 10% auto;
    border: solid;
    border-color: #64BB6A;
}
.heading, .score-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* Headings */
h1 {
    text-align: center;
    color: #28722d;
    font-size: 2em;
    padding: 0 10px;
}
h2 {
    font-size: 1.1em;
    color: #ffffff;
    letter-spacing: 1px;
}

/*Image Properties */

#globe {
    height: 100px;
    width: auto;
    margin-right:-15px;
}
